﻿@model IEnumerable<Core.Models.configuration.Configuration>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Home_Index";
    ViewBag._Panel = "Home";
}



@*<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">FILTROS PARA   @ViewBag.Name</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-s12">
                <form action="" method="get">
                    <div class=" col-md-3 form-group">
                        <label>@ViewBag.ColumName</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-road"></i>
                            </div>
                            <input type="text" class="fecha form-control" name="Name" value="@ViewBag.FName">
                            <input type="hidden" name="Category" value="@ViewBag.Category" />
                        </div>
                    </div>
                    <div class="col-md-6 inline-form form-group">
                        <label for=""> Acciones </label>
                        <div class="input-group">
                            <input type="submit" class="btn btn-primary" id="btnCon" value="consultar">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>*@



<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">LISTADO DE LAS CATEGORÍAS DE LOS PRODUCTOS</h3>
    </div><!-- /.box-header -->
    <div class="box-body">

        <div class="row">
            <div class="col-md-12">
                <table id="tabla" class="table table-bordered table-hover">
                    <thead style="background-color: #ccc;">
                        <tr>
                            <th>
                               Nombre Categoría
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            @if (ViewBag.Configtype == 1)
                            {
                                <th>
                                    Etapa del cultivo
                                </th>
                            }
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                @if (ViewBag.Configtype == 1)
                                {
                                    foreach (var StageCultivationName in ViewBag.StageCultivation)
                                    {
                                        if (StageCultivationName.Id == item.GuidId)
                                        {
                                            <td>
                                                @StageCultivationName.Name
                                            </td>
                                        }
                                    }
                                }

                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.Id, Configtype = ViewBag.Configtype }, new { @class = "btn btn-xs btn-success" })                                  
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
