﻿@model IEnumerable<Core.Models.configuration.Configuration>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Home_Index";
    ViewBag._Panel = "Home";
}

<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">LISTADO DE CORREOS</h3>
    </div><!-- /.box-header -->
    <div class="box-body">

        <div class="row">
            <div class="col-md-12">
                <table id="tabla" class="table table-bordered table-hover">
                    <thead style="background-color: #ccc;">
                        <tr>
                            <th>
                                Correo
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>                           
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>                            

                                <td>
                                    @Html.ActionLink("Editar", "EditEmail", new { id = item.Id }, new { @class = "btn btn-xs btn-success" })                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
