﻿@model Core.Models.User.User

@{
    ViewBag.Title = "Details";
}


@{
	ViewBag._Active = "Details";
	ViewBag._Panel = "Home";
}




<div class="box box-danger">
	<div class="box-header with-border">
		<h3 class="box-title">Detalle User</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		<div class="row">
		<div class="col-md-12 col-xs-12 col-ms-12">
			<table id="tabla" class="table table-bordered table-hover">
				<tbody>
																									<tr>
								<th>
									@Html.DisplayNameFor(model => model.Document)
								</th>

								<td>
									@Html.DisplayFor(model => model.Document)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.Names)
								</th>

								<td>
									@Html.DisplayFor(model => model.Names)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.LastName)
								</th>

								<td>
									@Html.DisplayFor(model => model.LastName)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.Phone1)
								</th>

								<td>
									@Html.DisplayFor(model => model.Phone1)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.Phone2)
								</th>

								<td>
									@Html.DisplayFor(model => model.Phone2)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.Phone3)
								</th>

								<td>
									@Html.DisplayFor(model => model.Phone3)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.Email)
								</th>

								<td>
									@Html.DisplayFor(model => model.Email)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.Status)
								</th>

								<td>
									@Html.DisplayFor(model => model.Status)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.PassWord)
								</th>

								<td>
									@Html.DisplayFor(model => model.PassWord)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.CreatedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.CreatedAt)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.UpdatedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.UpdatedAt)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.DeletedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.DeletedAt)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.CreatedBy)
								</th>

								<td>
									@Html.DisplayFor(model => model.CreatedBy)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.UpdatedBy)
								</th>

								<td>
									@Html.DisplayFor(model => model.UpdatedBy)
								</td>
							</tr>
										</tbody>
			</table>
			</div>
		</div>
	</div>
</div>


<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" })
    @Html.ActionLink("Regresar to List", "Index",null, new { @class = "btn btn-default" })
</p>
