﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<Core.Models.User.User>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}

<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Listar</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                @using (Html.BeginForm("Index", "Users", FormMethod.Post))
                {
                    <div class=" col-md-3 form-group">
                        <label>Filtrar usuario por documento</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-road"></i>
                            </div>
                            @Html.TextBox("FilterUserByDocument", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class=" col-md-3 form-group">
                        <label>Filtrar usuario por nombres</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-road"></i>
                            </div>
                            @Html.TextBox("FilterUserByName", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                        </div>
                    </div>


                    <div class="col-md-6 inline-form form-group">
                        <label for=""> Acciones </label>
                        <div class="input-group">
                            <input type="submit" class="btn btn-primary" id="btnCon" value="consultar">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




<div class="box box-danger">
    <div class="box-header with-border">
        <p class="input-group-addon alert "><b>LISTADO DE EMPLEADOS</b> </p>
    </div><!-- /.box-header -->
    <div class="box-body">

        <div class="row">
            <div class="col-md-12">
                <table id="tabla" class="table table-bordered table-hover table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.First().Document)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().Names)
                            </th>
                            <th>
                                Campañas
                            </th>

                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Document)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Names)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Campaign)
                                </td>


                                <td>
                                    @*@Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-success" })*@
                                    @*@Html.ActionLink("Detalle", "Details", new { id = item.Id }, new { @class = "btn btn-xs btn-default" })*@
                                    @Html.ActionLink("Perfiles", "Roles", new { id = item.Id }, new { @class = "btn btn-xs btn-warning" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "listUsers-grid" }))
            </div>
        </div>
    </div>
</div>

