﻿@model Core.Models.User.UserRol



@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Roles";
    ViewBag._Panel = "User";
}


<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Usuario: <strong>@ViewBag.Name</strong></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">

                @using (Html.BeginForm("Roles", "Users"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.RolId, "Nombre del Rol", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("RolId", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RolId, "", new { @class = "text-danger" })
                                <label id="errorRol"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.Email, "Correo", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="email" name="email" value="@ViewBag.Email" class="form-control" id="email" />
                                <label id="errorEmail"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.PassWord, "Contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="password" name="password" value="@ViewBag.Pass" class="form-control" id="pass" />
                                <label id="errorPass"></label>
                            </div>
                        </div>
                        <input type="hidden" name="UserId" value="@ViewBag.Id" />
                        <input type="hidden" name="Name" value="@ViewBag.Name" />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Crear" id="createRol" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>


<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Lista de Roles</h3>
    </div><!-- /.box-header -->
    <div class="box-body">

        <div class="row">
            <div class="col-md-12">
                <table id="tabla" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                Nombre del Rol
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Core.Models.User.UserRol item in ViewBag.UsersRol)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rol.Name)
                                </td>
                                <td>
                                    @using (Html.BeginForm("DeleteRol", "Users", new { Id = item.Id }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-actions no-color">
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-danger" })
</div>

@section Scripts {

    <script>

        $('body').on('click', '#createRol', function () {

            var rol = $('#RolId option:selected').val();
            var email = $('#email').val();
            var pass = $('#pass').val();

            console.log(email);
            console.log(pass);

            if (rol === "") {
                $('#errorRol').text('El campo rol es requerido').css('color', 'red');
                return false;
            }

            if (email === "") {
                $('#errorEmail').text('El campo correo es requerido').css('color', 'red');
                return false;
            }

            if (pass === "") {
                $('#errorPass').text('El campo contraseña es requerido').css('color', 'red');
                return false;
            }
        });

        // Procedimiento para remover las alertas.
        $('body').on('change', '#RolId', function () {
            $('#errorRol').text('');          
        });
        $('body').on('blur', '#email', function () {
            $('#errorEmail').text('');
        });
        $('body').on('blur', '#pass', function () {
            $('#errorPass').text('');
        });

    </script>
}
