﻿
@{
    ViewBag.Title = "Index";
}


<div class="box box-danger">
    <div class="box-header with-border text-center">
        <h2 class="box-title">Cargue Bases de Datos</h2>
    </div>
    <div class="box-body">
        <div class="container">
            <div class="row">

                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-info  alert-dismissible" role="alert">
                        @TempData["Message"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Seleccione la opción a cargar</label>
                        <select class="form-control" id="seleccion">
                            <option value="">Seleccione</option>
                            <option value="2">Base de Datos Hogares y Tecnología</option>
                            <option value="3">Digital Personas</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-6">
                    <label style="margin-top:16px;"></label>                    
                    <div class="form-group">
                        <a href="~/Formato/CargueAppUsuario/Formato_Cargue_ArcaDistribuciones.xlsx" download class="btn btn-info" style="display:none" id="formatoArca">Descargar Formato Arca Distribuciones</a>
                        <a href="~/Formato/CargueAppUsuario/Formato_Cargue_HogaresTecnologia.xlsx" download class="btn btn-info" style="display:none" id="formatoPersonasTecnologia">Descargar Formato Hogares y Tecnología</a>
                        <a href="~/Formato/CargueAppUsuario/Formato_Cargue_DigitalPersonas.xlsx" download class="btn btn-info" style="display:none" id="formatoPersonas">Descargar Formato Digital Personas</a>
                    </div>
                </div>

            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <input type="file" id="fileUsuario" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="margin-top:20px">
                    <div class="form-group">
                        <input type="button" id="cargarUsuarios" value="Cargar" class="btn btn-success btn-block" />
                    </div>
                </div>

                <div id='loading' style="display:none"><img src='~/Images/loader.gif' /><br />Un momento, por favor...</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal" style="display:none" id="mostrarErrores">
                        <div class="form-group">
                            <a value="Descargar Errores" class="btn btn-warning" href="~/ErroresFormato/ErroresFormatoAplicativosUsuario.xlsx" download>Descargar Formato Errores </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <script src="~/Scripts/app/cargarArchivo.js?v=@DateTime.Now"></script>
}



@*<div class="container">
        <div class="row">

            @if (TempData["Message"] != null)
            {
                <div class="alert alert-info  alert-dismissible" role="alert">
                    @TempData["Message"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <div class="col-md-12" style="margin-top:20px">
                <div class="form-group">
                    <label>Seleccione la opción a cargar</label>
                    <select class="form-control" id="seleccion">
                        <option value="">Seleccione</option>
                        <option value="2">Base de Datos Hogares y Tecnología</option>
                        <option value="3">Digital Personas</option>
                    </select>

                </div>
            </div>
            <div class="col-md-12">
                <input type="file" id="fileUsuario" class="form-control" />
            </div>

        </div>

        <hr />

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <a href="~/Formato/CargueAppUsuario/Formato_Cargue_ArcaDistribuciones.xlsx" download class="btn btn-info" style="display:none" id="formatoArca">Formato Arca Distribuciones</a>
                    <a href="~/Formato/CargueAppUsuario/Formato_Cargue_HogaresTecnologia.xlsx" download class="btn btn-info" style="display:none" id="formatoPersonasTecnologia">Formato Hogares y Tecnología</a>
                    <a href="~/Formato/CargueAppUsuario/Formato_Cargue_DigitalPersonas.xlsx" download class="btn btn-info" style="display:none" id="formatoPersonas">Formato Digital Personas</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="margin-top:20px">
                <div class="form-group">
                    <input type="button" id="cargarUsuarios" value="Cargar" class="btn btn-success btn-block" />
                </div>
            </div>

            <div id='loading' style="display:none"><img src='~/Images/loader.gif' /><br />Un momento, por favor...</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal" style="display:none" id="mostrarErrores">
                    <div class="form-group">
                        <a value="Descargar Errores" class="btn btn-warning" href="~/ErroresFormato/ErroresFormatoAplicativosUsuario.xlsx" download>Descargar Formato Errores </a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@